**/*.DS_Store
**/*.env*
**/*.git
**/.fullstack-bun-dev-container
**/.github
**/.vscode
**/node_modules
**/public
.editorconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
eslint.config.js
fly.toml
import-sorter.json
LICENSE
README.md
