**/*.DS_Store
**/*.env*
**/*.git*
**/.*dev-container
**/.github
**/.vscode
**/node_modules
**/public
.dockerignore
.editorconfig
.env.example
.eslint*
.prettier*
Dockerfile
eslint*
fly.toml
import-sorter.json
LICENSE
README.md
