app = "fullstack-bun"
primary_region = "bos"

[[services]]
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 8080
  [services.concurrency]
    type = "connections"
    hard_limit = 500
    soft_limit = 400
