name: cicd

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --ignore-scripts --frozen-lockfile
      - run: bun run biome ci .
      - run: bun run build:prod
      - run: bun run compile
